{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% tailwind_css %}
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/subjects">Subjects</a>
    <a href="/task">Task</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
</nav>

<h1>About Study Planner</h1>

<p>
This project is built while learning Django and will gradually become a complete study management application.
</p>

</body>
</html>