{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Study Planner</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% tailwind_css %}
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/subjects">Subjects</a>
        <a href="/task">Task</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>

    <h1>Study Planner</h1>

    <p>
        Organize your semester, track your progress and never miss a deadline.
    </p>

</body>
</html>