{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Subjects</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% tailwind_css %}
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/subjects">Subjects</a>
    <a href="/task">Task</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
</nav>

<h1>Subjects</h1>

<ul>
    <li>Python</li>
    <li>Digital Logic Design</li>
    <li>Compiler Design</li>
    <li>Discrete Mathematics</li>
</ul>

</body>
</html>